{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 style="margin-bottom: 4px;">
        <span style="margin-right: 20px;">
            {{ title }}
        </span>
    </h2>

    {% if post.authors %}
        {{ post.authors }} <br>
    {% endif %}

    <b>{{ post.venue }}</b>, {{ post.date | default: "1900-01-01" | date: "%Y" }}
    {% if post.issn %}
        (ISSN: {{ post.issn }})
    {% endif %}
    <br>

    {% if post.notes %}
      {{ post.notes}} <br>
    {% endif %}

    {% if post.code %}
        <span style="display: inline-block; margin-right: 5px;">
            <a href="{{ post.code }}">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" width="30" height="30">
            </a>
        </span>
    {% endif %}

    {% if post.paperurl %}
    <span style="display: inline-block; margin-right: 5px;">
        <a href="{{ post.paperurl }}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Simpleicons_Interface_link-symbol.svg/480px-Simpleicons_Interface_link-symbol.svg.png" width="25" height="25" alt="Publication">
        </a>
    </span>
    {% endif %}

    {% if post.paperpdf %}
    <span style="display: inline-block; margin-right: 5px;">
        <a href="{{ post.paperpdf }}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/PDF_icon.svg/210px-PDF_icon.svg.png" width="25" height="25" alt="Publication">
        </a>
    </span>
    {% endif %}

    <!-- {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %} -->
    
    <!-- {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p>
    {% endif %} -->

  </article>
</div>
